<!DOCTYPE html>
<html lang="en">

<head>
    <meta charaset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    
    <h1>Welcome to the Logo printer!</h1>
    <div id="upload-container">
        <p>Please upload the logo you wish to use:</p>
        <input type="file" id="logoInput" accept=".jpg, .png">
        <button id="uploadButton" disabled>Upload Logo</button>
    </div>
    <p>Frame your logo in the following demo image</p>
    <div id="product-image-container">
        <img id="productImage" src="{{url_for('static', filename='images/demo-image.jpg')}}" alt="Product Image">
        <img id="circle-overlay" src="{{url_for('static',filename='images/trans-img.jpg')}}">
    </div>
    <button id="print-button" style="visibility: hidden"> Print </button>
    <div id="logo-listing-container" style="visibility: hidden">
        <p>*Note, You can use any existing logos that you have uploaded!</p>
        <table id="logo-table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Time</th>
                    <!-- Rows will be dynamically added here based on user uploads -->
                </tr>
            </thead>
            
        </table>
    </div>

    <script type="module">
        import adjustUploadButton from "../static/adjustUploadButton.js";
        var input = document.getElementById("logoInput")
        input.addEventListener('change', adjustUploadButton)
    </script>

    <script type="module">
        import uploadLogo from "../static/upload.js";
        var button = document.getElementById("uploadButton")
        button.addEventListener('click', uploadLogo)
    </script>

</body>

</html>