<!DOCTYPE html>
<html lang="en">

<head>
    <meta charaset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Welcome to the Logo printer!</h1>
    <div id="upload-container">
        <h3>Please upload the logo you wish to use:</h3>
        <input type="file" id="logoInput" accept=".jpg, .png">
        <button onclick="uploadLogo()">Upload Logo</button>
    </div>
    <h3>Please a logo in the following demo image</h3>
    <div id="product-image-container">
        <img id="productImage" src="{{url_for('static', filename='images/demo-image.jpg')}}" alt="Product Image">
        <img id="circle-overlay" src="{{url_for('static',filename='images/trans-image.jpg')}}">
    </div>
    <div id="logo-listing-container">
        <p>Note, You can use any existing logos that you have uploaded!</p>
        <ul id="logo-list">

        </ul>
    </div>

    <script src="{{ url_for('static', filename='upload.js') }}"></script>
    <script src="{{ url_for('static', filename='print.js') }}"></script>
</body>

</html>