<!DOCTYPE html>
<html lang="en">

<head>
    <meta charaset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Welcome to the Logo printer!</h1>
    <div id="upload-container">
        <p>Please upload the logo you wish to use:</p>
        <input type="file" id="logoInput" accept=".jpg, .png" onchange="adjustUploadButton()">
        <button id="uploadButton" onclick="uploadLogo()" disabled>Upload Logo</button>
    </div>
    <p>Frame your logo in the following demo image</p>
    <div id="product-image-container">
        <img id="productImage" src="{{url_for('static', filename='images/demo-image.jpg')}}" alt="Product Image">
        <img id="circle-overlay" src="{{url_for('static',filename='images/trans-img.jpg')}}">
    </div>
    <div id="logo-listing-container" style="visibility: hidden">
        <p>*Note, You can use any existing logos that you have uploaded!</p>
        <table id="logo-table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Time</th>
                    <!-- Rows will be dynamically added here based on user uploads -->
                </tr>
            </thead>
            
        </table>
    </div>
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
    <script src="{{ url_for('static', filename='print.js') }}"></script>
</body>

</html>