body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align:auto;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: antiquewhite;
    color: black;
    overflow-y: auto;
}

#upload-container {
    margin-bottom: 10px;
}

#product-image-container {
    position: relative;
    margin-top: 2px;
    max-width: 350px; 
    max-height: 400px;
    overflow: hidden; /* Hide any content that overflows the container */
}

#productImage {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px;
}

#circle-overlay {
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#logo-table{
    border: 2px solid gray;
}
#logo-table th, #logo-table td{
    border: 1px solid gray;
    padding: 4px;
}

.logo-switch-style{
    color: blue;
    
}
.logo-switch-style:hover{
    text-decoration: underline;
}

#print-button{
    padding: 10px;
    background-color:darkcyan;
    color: white;
}